# Dracoon Pyclient Konfiguration

# Dracoon Connection (OAuth)
DRACOON_BASE_URL=https://ihre-instanz.dracoon.com
# Only fill if you want OAuth Connection!
DRACOON_CLIENT_ID=your_client_id_here
DRACOON_CLIENT_SECRET=your_client_secret_here
DRACOON_USERNAME=your_username
DRACOON_PASSWORD=your_password

# Provisioning API (Multi-Tenant/Reseller only)
# Only required for "Customer Email Export" module
DRACOON_SERVICE_TOKEN=your_service_token_here
